* {
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
}

nav {
  background-color: #1456e3;
}

.nav-bar {
  display: flex;
  align-items: center;
  background-color: #1456e3;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.19);
}

.nav-bar .tabs {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

.nav-bar .tabs li {
  display: inline;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.nav-bar h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: auto;
  padding: 10px;
}
