.server-listing {
  position: relative;
  background-color: white;
  margin: 10px;
  border-radius: 20px;
  color: darkslategray;
  padding: 20px;
  display: inline-block;
  border: 1px solid rgb(239, 239, 239);
  cursor: pointer;
}

h2 {
  display: inline-block;
  padding: 0px;
  font-weight: bold;
  font-size: 13pt;
}

h3 {
  margin-top: 5px;
  font-weight: lighter;
  font-size: 8pt;
}

.server-heading {
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  justify-content: center;
}

.dot-green {
  height: 8px;
  width: 8px;
  background-color: rgb(0, 218, 142);
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}

.dot-grey {
  height: 8px;
  width: 8px;
  background-color: #bbb;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}

.popup-description-hidden {
  visibility: hidden;
  position: absolute;
  /*height: 50px;
  width: 100px;*/
  background-color: white;
  border: 1px solid rgb(239, 239, 239);
  border-radius: 10px;
  text-align: left;
  padding: 10px;
  margin-top: -50px;
  color: darkslategrey;
  font-size: 10px;
}

.popup-description-visible {
  visibility: visible;
  position: absolute;
  /*height: 50px;
  width: 100px;*/
  background-color: white;
  border: 1px solid rgb(239, 239, 239);
  border-radius: 10px;
  text-align: left;
  padding: 10px;
  margin-top: -50px;
  color: darkslategrey;
  font-size: 10px;
}

.popup-description-hidden::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
