.form {
  margin: 0px auto 20px auto;
  padding: 20px;
  width: 50%;
  border: 2px solid rgb(237, 237, 237);
  border-radius: 20px;
  color: darkslategrey;
}

.form h1 {
  font-size: 20pt;
  margin-bottom: 20px;
  margin-top: 0px;
}

.form button {
  display: block;
  margin: auto;
  color: white;
  background-color: rgb(0, 106, 255);
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 10px;
}

.form input {
  display: block;
  margin: 10px auto 10px auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(237, 237, 237);
  font-size: 8px;
}

.inputs {
  display: flex;
  justify-content: center;
}

.left-inputs {
  display: inline-block;
  margin-right: 10px;
}

.right-inputs {
  display: inline-flex;
  align-items: stretch;
  margin-top: 10px;
  margin-bottom: 10px;
}

.right-inputs textarea {
  flex: 1;
}

textarea {
  border: 1px solid rgb(237, 237, 237);
  border-radius: 10px;
  resize: none;
  color: darkslategrey;
  padding: 10px;
}
