form {
  margin: 0px auto 20px auto;
  padding: 0px 0px 20px 0px;
  /*border: 2px solid rgb(237, 237, 237);
  border-radius: 20px;*/
  /*color: darkslategrey;*/
}

form h1 {
  font-size: 20pt;
  margin-bottom: 20px;
  margin-top: 40px;
}

.add-a-server {
  margin-top: 40px;
}

form button {
  display: block;
  margin: auto;
  color: white;
  background-color: rgb(0, 106, 255);
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 10px;
}

form input {
  display: block;
  margin: 10px auto 10px auto;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0, 0.04);
  font-size: 10px;
  color: darkslategrey;
}

form input::placeholder {
  color: rgb(0, 0, 0, 0.4);
}

form input[type="button"] {
  color: white;
  font-weight: bold;
  border: 0px;
  padding: 14px 40px 14px 40px;
  background-color: rgb(128, 97, 228);
  box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.15);
}

input:focus,
textarea:focus {
  outline: none;
}

/*form input:invalid {
  border-color: tomato;
}*/

.inputs {
  display: flex;
  justify-content: center;
}

.left-inputs {
  display: inline-block;
  margin-right: 10px;
}

.right-inputs {
  display: inline-flex;
  align-items: stretch;
  margin-top: 10px;
  margin-bottom: 10px;
}

.right-inputs textarea {
  flex: 1;
}

textarea {
  border: 1px solid rgb(0, 0, 0, 0.04);
  border-radius: 10px;
  resize: none;
  font-size: 10px;
  color: darkslategrey;
  padding: 14px;
}

textarea input::placeholder {
  color: rgb(0, 0, 0, 0.4);
}

::-webkit-input-placeholder {
  color: rgb(0, 0, 0, 0.4);
}
::-moz-placeholder {
  color: rgb(0, 0, 0, 0.4);
}
:-ms-input-placeholder {
  color: rgb(0, 0, 0, 0.4);
}
:-o-input-placeholder {
  color: rgb(0, 0, 0, 0.4);
}

.error-message {
  color: tomato;
}
