form {
  position: relative;
  margin: 0px auto 20px auto;
  padding: 0px 0px 20px 0px;
  /*border: 2px solid rgb(237, 237, 237);
  border-radius: 20px;*/
  /*color: darkslategrey;*/
}

form h1 {
  font-size: 20pt;
  margin-bottom: 20px;
  margin-top: 40px;
}

.add-a-server {
  margin-top: 40px;
}

form button {
  display: block;
  margin: auto;
  color: white;
  background-color: rgb(0, 106, 255);
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 10px;
}

form input {
  display: block;
  text-align: center;
  margin: 0px auto 10px auto;
  font-weight: bold;
  padding: 14px;
  border-radius: 10px;
  border: none;
  /*border: 1px solid rgb(0, 0, 0, 0.04);*/
  font-size: 10px;
  border-bottom: 1px solid whitesmoke;
  color: darkslategrey;
}

form input::placeholder {
  color: rgb(0, 0, 0, 0.4);
}

form input[type="button"] {
  color: white;
  position: absolute;
  font-weight: bold;
  border: 0px;
  padding: 14px 40px 14px 40px;
  background-color: rgb(128, 97, 228);
  /*box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.15);*/
  box-shadow: 0px 4px 4px 0px rgb(128, 97, 228, 0.25);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  margin: auto;
  transform-origin: 0 0;
}

input:focus,
textarea:focus {
  outline: none;
}

/*form input:invalid {
  border-color: tomato;
}*/

.inputs {
  display: inline-flex;
  /*display: inline-block;*/
  /*justify-content: space-between;*/
  /*justify-content: center;*/
  background-color: white;
  /*margin-left: 340px;
  margin-right: 340px;*/
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 2px 4px 16px 0px rgb(0, 0, 0, 0.05);
  position: relative;
}

.left-inputs {
  display: inline-block;
  padding-right: 40px;
  width: 50%;
  border-right: 1px solid whitesmoke;
}

.left-inputs h3 {
  display: inline;
  color: darkslategrey;
  font-size: 10px;
  text-align: left;
}

.right-inputs {
  display: inline-flex;
  flex-direction: column;
  /*display: inline-block;*/
  /*align-items: stretch;*/
  width: 50%;
  margin-left: 40px;
  min-width: 240px;
}

.right-inputs textarea {
  flex: 1;
}

textarea {
  display: block;
  border: none;
  resize: none;
  font-size: 10px;
  color: darkslategrey;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

textarea input::placeholder {
  color: rgb(0, 0, 0, 0.4);
}

::-webkit-input-placeholder {
  color: rgb(0, 0, 0, 0.4);
}
::-moz-placeholder {
  color: rgb(0, 0, 0, 0.4);
}
:-ms-input-placeholder {
  color: rgb(0, 0, 0, 0.4);
}
:-o-input-placeholder {
  color: rgb(0, 0, 0, 0.4);
}

.error-message {
  color: tomato;
  margin-top: 20px;
  text-align: center;
}

form input[type="button"]:hover {
  animation-name: formInputButtonHover;
  animation-duration: 1.2s;
}

form input[type="button"]:active {
  box-shadow: none;
  background-color: rgb(123, 94, 220);
  margin-top: 1px;
}

@keyframes formInputButtonHover {
  0% {
    transform: scale(1) translate(-50%, -50%);
  }
  25% {
    transform: scale(1.1) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}

#server-name {
  display: inline-block;
  border: none;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  padding: 0px;
  overflow: auto;
}

.right-inputs h2 {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: darkslategrey;
  text-align: center;
}
