* {
  margin: 0px;
  padding: 0px;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: Jost;
}

@font-face {
  font-family: Jost;
  src: url("../Font/Jost-VariableFont_wght.ttf");
  font-weight: medium;
}

@font-face {
  font-family: Jost-Bold;
  src: url("../Font/Jost-VariableFont_wght.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Jost-Italic;
  src: url("../Font/Jost-Italic-VariableFont_wght.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Jost-Italic-Bold;
  src: url("../Font/Jost-Italic-VariableFont_wght.ttf");
  font-weight: bold;
}

.App {
  text-align: center;
  background-color: rgb(252, 252, 252);
  min-height: 100vh;
}

.main-content {
  padding-top: 76px;
  padding-bottom: 40px;
  margin-left: 80px;
  margin-right: 80px;
  /*background-color: rgb(253, 253, 253);*/
  min-height: 100vh;
}

.main-content h1 {
  display: inline-block;
  font-size: 24pt;
  font-weight: bold;
  text-align: left;
  margin-top: 0px;
  /*margin-bottom: 10px;*/
  margin-left: 40px;
  margin-right: 20px;
  color: darkslategrey;
}

.server-list {
  display: inline-block;
  width: 60%;
  margin: 0px;
  padding: 0px;
}

input[type="button"] {
  display: block;
  margin: 10px auto 10px auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(237, 237, 237);
  font-size: 8px;
  color: darkslategrey;
}

#welcome-message {
  font-family: Jost;
  text-align: left;
  font-size: 14pt;
  /*color: rgb(255, 255, 255, 0.9);*/
  color: darkslategrey;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  /*text-shadow: 2px 4px 6px rgb(0, 0, 0, 0.04);*/
  /*background-color: rgb(47, 79, 79, 0.9);*/
  /*box-shadow: 2px 4px 16px 0px rgb(0, 0, 0, 0.05);*/
  padding: 16px;
  animation-name: onLoadAnimation;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes onLoadAnimation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#welcome {
  font-family: Jost-Italic-Bold;
}

.server-form-section {
  display: inline-block;
  margin: 0px;
  vertical-align: top;
  padding: 0px;
  width: 40%;
}

#server-grid {
  padding-left: 20px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: left;
}

@media screen and (max-width: 1100px) {
  .main-content {
    /* Change from two column to single column layout */
  }
  .server-list {
    display: block;
    width: 100%;
  }
  .server-form-section {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 592px) {
  .main-content {
    margin-right: 40px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 512px) {
  .main-content {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 472px) {
  #server-grid {
    justify-content: center;
  }
} /*
@media screen and (max-width: 500px) {
  .main-content {
    margin-right: 20px;
    margin-left: 20px;
  }
}*/

#astroneer-servers-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  text-align: left;
  white-space: nowrap;
  margin-bottom: 20px;
  margin-top: 20px;
}

@media screen and (max-width: 456px) {
  #astroneer-servers-header {
    margin-left: 0px;
    justify-content: center;
  }
  #astroneer-servers-header h1 {
    margin-left: 0px;
    margin-right: 0px;
  }
}
