nav {
  background-color: #1456e3;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.nav-bar {
  display: flex;
  align-items: center;
  /*background-color: rgb(0, 106, 255);*/
  background-color: white;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.05), 0 0px 16px 0 rgba(0, 0, 0, 0.05);
  /*letter-spacing: 1px;*/
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 100px;
  padding-left: 100px;
  /*border-bottom: 1px solid rgb(237, 237, 237);*/
}

.nav-bar .tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 36%;
}

.nav-bar .tabs li {
  display: inline;
  color: darkslategrey;
  font-weight: normal;
  font-size: 10pt;
}

.nav-bar h1 {
  color: darkslategrey;
  /*color: white;*/
  font-weight: bold;
  display: inline-block;
  white-space: nowrap;
}

.nav-bar a {
  text-decoration: none;
}

.right-items {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  width: 46%;
}

.right-items .nav-bar-button {
  display: inline-block;
  background-color: white;
  color: rgb(120, 91, 216);
  padding: 10px;
  font-size: 10px;
  border: none;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  white-space: nowrap;
  margin-top: auto;
}

.nav-bar-title {
  color: darkslategrey;
  /*color: white;*/
  font-weight: bold;
  font-size: 20pt;
  display: inline-block;
  white-space: nowrap;
}
