.server-view {
  display: block;
  text-align: left;
  margin: 0 100px 0px 100px;
  padding-top: 120px;
  padding-bottom: 40px;
  color: rgb(64, 64, 64);
}

.server-view h1 {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  margin-left: 20px;
}

.server-information-section {
  display: inline-block;
  background-color: white;
  box-shadow: 2px 4px 16px 0px rgb(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 40px;
}

.server-view .information-field {
  display: block;
  margin-bottom: 10px;
}

.server-view .key {
  font-size: 9pt;
  display: block;
  color: gray;
}
.server-view .value {
  color: rgb(64, 64, 64) !important;
  font-size: 12pt;
  display: block;
}

.server-information-section #column-1 {
  display: inline-block;
  margin-right: 20px;
}

.server-information-section #column-2 {
  vertical-align: top;
  display: inline-block;
}

.server-view h2 {
  display: block;
  font-size: 14pt;
  margin-bottom: 20px;
}

.server-description-section {
  display: inline-block;
  background-color: white;
  box-shadow: 2px 4px 16px 0px rgb(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 40px;
  margin: 0 0 0 20px;
  vertical-align: top;
  flex-grow: 1;
}

.server-description-section h3 {
  display: inline;
  word-break: break-all;
}

.server-rules-section {
  display: inline-block;
  background-color: white;
  box-shadow: 2px 4px 16px 0px rgb(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 40px;
  margin: 20px 0 0 20px;
  vertical-align: top;
  flex-grow: 1;
}

.server-view #flex-box-1 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.server-view #flex-box-2 {
  display: inline-flex;
  flex-direction: column;
  flex: 4;
}

.server-view #links-section {
  display: inline-block;
  color: rgb(64, 64, 64);
  background-color: white;
  box-shadow: 2px 4px 16px 0px rgb(0, 0, 0, 0.05);
  border-radius: 20px 20px 20px 20px;
  padding: 40px;
  margin: 0px 0 0px 20px;
  vertical-align: top;
}

#discord-logo {
  display: inline-block;
  background-image: url("Discord-Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-left: 5px;
  vertical-align: middle;
  width: 20px;
  height: 12px;
}

#server-info-heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#edit-server-button {
  display: inline-block;
  background-image: url("pencil.png");
  background-size: contain;
  background-position: bottom;
  width: 9pt;
  height: 9pt;
  border: none;
  background-color: white;
}

#server-info-heading h2 {
  display: inline-block;
}

@media screen and (max-width: 923px) {
  .server-view #flex-box-1 {
    flex-direction: column;
  }
  .server-description-section {
    margin-bottom: 20px;
    margin-left: 0;
  }
  .server-rules-section {
    margin-bottom: 20px;
    margin-left: 0;
  }
  .server-information-section {
    margin-bottom: 20px;
    margin-left: 0;
  }
  .server-view #links-section {
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 592px) {
  .server-view {
    margin-right: 40px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 512px) {
  .server-view {
    margin-right: 20px;
    margin-left: 20px;
  }
}
